<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css_hy/style.css')}}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css_hy/datatable.css')}}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css_hy/table-form.css')}}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css_hy/user.css')}}" type="text/css" charset="utf-8">

    <style type="text/css">
        .ranktable {
            border-radius:3px;
            margin:0;
        }
        .ranktable th, .ranktable td {
            font-weight: bold;
            border: 2px inset;
        }
        .ranktable th {
            background-color:#428bca;
            color:white;
        }
        .rank-abs-div {
            margin: 0;
            padding: 0;
            position: absolute;
            overflow:hidden;
            background-color:white;
            z-index:2;
        }
    </style>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% if title %}
        <title>CSP Hackathon - {{ title }}</title>
    {% else %}
        <title>CSP Hackathon</title>
    {% endif %}
</head>
<body>
    {% set char="ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
    {% set color_rank=["red", "#ff6060", "orange", "darkviolet", "blue"] %}

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">CSP HACKATHON</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Trang chủ</a>
              <a class="nav-item nav-link" href="/statement">Đề bài</a>
              <a class="nav-item nav-link" href="/submit">Nộp bài</a>
              <a class="nav-item nav-link" href="/standings">Bảng điểm</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                {% if current_user.username == "TeamHackathon2020" %}
                  <a class="nav-item nav-link" href="{{ url_for('new_post') }}">Tạo bài viết mới</a>
                {% endif %}
                <a class="nav-item nav-link" href="{{url_for('profile')}}">Xin chào {{current_user.username}}</a>
                <a class="nav-item nav-link" href="{{url_for('logout')}}">Đăng xuất</a>
              {% else %}
                <a class="nav-item nav-link" href="{{url_for('login')}}">Đăng nhập</a>
                <a class="nav-item nav-link" href="{{url_for('register')}}">Đăng ký</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
        <div>
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="content-section">
                    <center><h3>
                        {% if time_left > duration %}
                            Kỳ thi chưa bắt đầu
                        {% elif time_left <= 0 %}
                            Bảng xếp hạng chính thức
                        {% else %}
                            Bảng xếp hạng hiện tại
                        {% endif %}
                    </h3></center>
                    {% if time_left > duration %}
                        <center><p class='text-muted'><h5>CSP Hackathon 2020</h5></center>
                        <progress style="width: 100%" id="temp" max="{{time_left - duration}}" value="{{time_left - duration}}"></progress>
                        <center><p style='color: gray' id='timer'>{{hour}} giờ {{minute}} phút {{second}} giây</p></center>
                    {% elif time_left <= 0 %}
                        <center><p class='text-muted'><h5>CSP Hackathon 2020</h5></center>
                        <progress style="width: 100%" id="temp" max="{{duration}}" value="{{time_left}}"></progress>
                    {% else %}
                        <center><p class='text-muted'><h5>CSP Hackathon 2020</h5></center>
                        <progress style="width: 100%" id="temp" max="{{duration}}" value="{{time_left}}"></progress>
                        <center><p style='color: gray' id='timer'>{{hour}} giờ {{minute}} phút {{second}} giây</p></center>
                    {% endif %}
                </div>
            </div>
            <div>
                <div style='margin-top:10px; font-size:80%;'>
                    <div id="container" style="margin:0px 40px;padding:0; background-color: white;overflow:hidden">
                        <!--<div id="rankabsrow" class="rank-abs-div">
                            <table class="table table-bordered table-striped ranktable">
                                <thead>
                                    <tr>
                                        <th style='color:white;width:40px;'>
                                            <h6 style='color:white'>#</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:140px;text-align:left;'>
                                            <h6 style='color:white'>Thí Sinh</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:80px;text-align:center;'>
                                            <h6 style='color:white'>Tổng điểm</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:80px;text-align:center;'>
                                            <h6 style='color:white'>Penalty</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        {% for i in range(0, nProblems) %}
                                            <th style="min-width:95px;text-align:center"><h6 style='color:#fff'>{{ problem_list[i]['problem_id'] }}</h6></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                            </table>
                        </div>-->
                        <div id="rankabscol" class="rank-abs-div">
                            <table class="table table-bordered table-striped ranktable">
                                <thead>
                                    <tr>
                                        <th style='color:white;width:40px;'>
                                            <h6 style='color:white'>#</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:140px;text-align:left;'>
                                            <h6 style='color:white'>Thí Sinh</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:80px;text-align:center;'>
                                            <h6 style='color:white'>Tổng điểm</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:80px;text-align:center;'>
                                            <h6 style='color:white'>Penalty</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(0, nUsers) %}
                                        <tr>
                                            <td>{{i + 1}}</td>
                                            <td><b style="color: {{color_rank[i]}}">{{ scores[i]['username'] }}</b></td>
                                            <td style="color:black;text-align:center"><b>{{ scores[i]['total_score'] }}</b></td>
                                            <td style="color:black;text-align:center"><b>{{ scores[i]['total_penalty'] }}</b></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="rank-abs-div">
                            <table class="table table-bordered table-striped ranktable">
                                <thead>
                                    <tr>
                                        <th style='color:white;width:40px;'>
                                            <h6 style='color:white'>#</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:140px;text-align:left;'>
                                            <h6 style='color:white'>Thí Sinh</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:80px;text-align:center;'>
                                            <h6 style='color:white'>Tổng điểm</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:80px;text-align:center;'>
                                            <h6 style='color:white'>Penalty</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        
                        <div id="rankdiv" style="margin:0;padding:0;position:relative;overflow:auto">
                            <table id="rank" class="table table-bordered table-striped ranktable">
                                <thead>
                                    <tr>
                                        <th style='color:white;width:40px;'>
                                            <h6 style='color:white'>#</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:140px;text-align:left;'>
                                            <h6 style='color:white'>Thí Sinh</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:80px;text-align:center;'>
                                            <h6 style='color:white'>Tổng điểm</h6>
                                            <div style="width:inherit"></div>
                                        </th>
                                        <th style='color:white;width:80px;text-align:center;'>
                                            <h6 style='color:white'>Penalty</h6>
                                            <div style="width:inherit"></div>
                                        </th>

                                        {% for i in range(0, nProblems) %}
                                            <th style="min-width:95px;text-align:center"><h6 style='color:#fff'>{{ problem_list[i]['problem_id'] }}</h6></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(0, nUsers) %}
                                        <tr>
                                            <td>{{i + 1}}</td>
                                            <td><b style="color: {{color_rank[i]}}">{{ scores[i]['username'] }}</b></td>
                                            <td style="color:black;text-align:center"><b>{{ scores[i]['total_score'] }}</b></td>
                                            <td style="color:black;text-align:center"><b>{{ scores[i]['total_penalty'] }}</b></td>
                                            {% for j in range(0, nProblems) %}
                                                {% set color = "grey" %}
                                                {% if scores[i][[char[j], "submitted"]|join('_')] %}
                                                    {% if scores[i][[char[j], "score"]|join('_')] == 0 %}
                                                        {% set color = "red" %} 
                                                    {% elif scores[i][[char[j], "score"]|join('_')] != max_score_possible[j] %}
                                                        {% set color = "darkorange" %}
                                                    {% else %}
                                                        {% set color = "green" %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if scores[i][[char[j], "is_first_AC"]|join('_')] %}
                                                    <td style="color:{{color}};text-align:center; background-color: lightgreen">{{ scores[i][[char[j], "score"]|join('_')] }}<small style="color: red">({{scores[i][[char[j], "penalty"]|join('_')]}})</small></td>
                                                {% else %}
                                                    <td style="color:{{color}};text-align:center">{{ scores[i][[char[j], "score"]|join('_')] }}<small style="color: red">({{scores[i][[char[j], "penalty"]|join('_')]}})</small></td>
                                                {% endif %}
                                                
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>


    <script>
      const timerElement = document.getElementById("timer");
      const temp = document.getElementById("temp");
      let time_left = temp.value;
      const interval = setInterval(()=>{
        if(time_left <= 1){
          clearInterval(interval);
        }
        let time_counter = time_left - 1;
        time_left = time_left - 1;
        let hour = Math.floor(time_counter / 3600);
        time_counter = time_counter % 3600;
        let minute = Math.floor(time_counter / 60);
        time_counter = time_counter % 60;
        let second = time_counter;
        temp.value = time_left;
        timerElement.innerText = hour + " giờ " + minute + " phút " + second + " giây";
      }, 1000)
    </script>
</body>
</html>