{% extends "layout.html" %}
{% block content %}
<form action="" method="POST">
    <div class="content-section">
        <center><h3>Nộp bài</h3></center>
        <center><h5>CSP Hackathon 2020</h5></center>
        
            <table style="width: 100%">
                <tr>
                    <td> <h5><center>Chọn bài: </center></h5></td>
                    <td>
                            <center><label style="width: 100%; margin: 0;padding: 0;">
                            <select id='problem_id' name='problem_id' class="form-control" style="outline: none;margin: 0 auto;color: black;background-color: white;border: 1px solid black;width: 70%;height: auto;cursor: pointer;font-size: 20px;">
                                <option data-nsubtasks="0" value="">Chọn bài</option>   
                                    {% for problem in problem_list %}
                                        <option data-nsubtasks="{{problem.nSubtasks}}" value="{{problem.problem_id}}">{{problem.problem_id}} - {{problem.problem_name}}</option>
                                    {% endfor %} 
                                    <!--<option value="A" data-memory-limit="256" data-time-limit="1" data-input-file="" data-output-file="">
                                                A - Clothes
                                    </option>
                                    <option value="B" data-memory-limit="256" data-time-limit="1" data-input-file="" data-output-file="">
                                                B - Clock
                                    </option>
                                    <option value="C" data-memory-limit="256" data-time-limit="1" data-input-file="" data-output-file="">
                                                C - Find Array
                                    </option>
                                    <option value="D" data-memory-limit="256" data-time-limit="2" data-input-file="" data-output-file="">
                                                D - GCD
                                    </option>
                                    <option value="E" data-memory-limit="256" data-time-limit="2" data-input-file="" data-output-file="">
                                                E - Marbles
                                    </option>
                                    <option value="F" data-memory-limit="256" data-time-limit="2" data-input-file="" data-output-file="">
                                                F - Prime
                                    </option>-->
                            </select>
                            </label></center>
                    </td>
                </tr>
            </table>
    </div>

    <div class="content-section" id="submit_section">
        
    </div>

    <center> <input type="submit" class="btn btn-outline-info" value="Nộp bài"/> </center>
</form>
    <script>
        $("#problem_id").change(function () {
            let problem_id = document.getElementById('problem_id').value;
            let nSubtasks = $(this).find(':selected').data('nsubtasks');
            if(problem_id != ""){
                document.getElementById('submit_section').innerHTML = `<h4>Nhập đáp án bài ${problem_id}:</h4>`;
                for(var subtask = 1; subtask <= nSubtasks; subtask++){
                    document.getElementById('submit_section').innerHTML += `
                    <div class="form-group">
                        <label class="form-control-label" for="current_password">Subtask ${subtask}</label>
                        <input class="form-control form-control-lg" name="subtask_${subtask}" type="text" value="">                    
                    </div>`;
                }
            } else{
                document.getElementById('submit_section').innerHTML = "";
            }
        });
    </script>
{% endblock content %}







{% block contest_materials %}
{% set char="ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}

{% for i in range(1, nProblems + 1) %}
    <script>
        $('#problem{{i}}').on('shown.bs.modal', function () {
            $('#problem{{i}}').trigger('focus')
        })
    </script>
{% endfor %}
<div class="content-section">
    <center><h3>Lịch sử nộp bài</h3></center>
    <center><table>
        {% for i in range(1, nProblems + 1)%}
            {% if i % 3 == 1 %}
                <tr>
            {% endif %}

            {% set color = ""%}

            {% if scores[i - 1] != 100 %}
                {% if submissions[i - 1] == '' %}
                    {% set color = "grey"%}
                {% elif scores[i - 1] == 0 %}
                    {% set color = "red"%}
                {% else %}
                    {% set color = "#FF5C00"%}
                {% endif %}
            {% else %}
                {% set color = "green"%}
            {% endif %}

            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#problem{{i}}" class="list-group-item list-group-item-light" style="color: {{color}}">{{char[i - 1]}}: {{scores[i - 1]}}</li>
                </ul>
            </th>

            {% if i % 3 == 0 %}
                </tr>
            {% endif %}
        {% endfor %}
        <!--<tr>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light" style="color: green">A: 100 </li>
                </ul>
            </th>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light" style="color: green">B: 100 </li>
                </ul>
            </th>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light" style="color: green">C: 100 </li>
                </ul>
            </th>
        </tr>
        <tr>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light" style="color: red">D: 0 </li>
                </ul>
            </th>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light" style="color: darkorange">E: 50 </li>
                </ul>
            </th>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light" style="color: red">F: 0 </li>
                </ul>
            </th>
        </tr>
        <tr>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light">G: </li>
                </ul>
            </th>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light" style="color: darkorange">H: 20 </li>
                </ul>
            </th>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light">I: </li>
                </ul>
            </th>
        </tr>
        <tr>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light">J: </li>
                </ul>
            </th>
            <th>
                <ul class="list-group">
                    <li data-toggle="modal" data-target="#test" class="list-group-item list-group-item-light">K: </li>
                </ul>
            </th>
        </tr>-->
    </table></center>


    <!-- Modal -->
    {% for i in range(1, nProblems + 1) %}
    
        <div class="modal fade" id="problem{{i}}" tabindex="-1" role="dialog" aria-labelledby="problem{{i}}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="problem{{i}}Label">Chi tiết chấm bài {{char[i - 1]}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    {{submissions[i - 1] | safe}}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock contest_materials %}